
@using Ecommerce_website.Models
@model List<Product>

<!DOCTYPE html>
<html lang="en">
<head>
<title>Colo Shop Categories</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Khanh Shop">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/categories_responsive.css">

<style>
	.notify-message{
		position: fixed;
		top:110px;
		right: -300px; /* Bắt đầu ngoài màn hình */
		width: 200px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 20;
		background-color: rgb(86, 238, 86);
		color: white;
		font-weight: 500;
		border-radius: 10px;
		transition: 0.5s ease-in-out;
	}
	.notify-message.show {
        right: 10px; /* Vào trong màn hình */
    }
</style>

</head>

<body>

<div class="super_container"> 

	<div class="notify-message">
		<i class="fa-solid fa-bell"></i> &nbsp;
		Add product success
	</div>


	<!-- Hamburger Menu -->



	<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
					</ul>
				</div>
			
			
				
                @await Component.InvokeAsync("ViewCategory")
				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_top">
									<ul class="product_sorting">
										<li>
											<span class="type_sorting_text">Sắp xếp sản phẩm</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_type">
												<li>
													<span>
														<form method="post" asp-action="SortByPrice">
															@for (int i = 0; i < Model.Count; i++)
															{
																	<input type="hidden" name="products[@i].Id" value="@Model[i].Id" />
																	<input type="hidden" name="products[@i].Name" value="@Model[i].Name" />
																	<input type="hidden" name="products[@i].Price" value="@Model[i].Price" />
																	<input type="hidden" name="products[@i].CategoryId" value="@Model[i].CategoryId" />
																	<input type="hidden" name="products[@i].Status" value="@Model[i].Status" />
																	<input type="hidden" name="products[@i].Introduce" value="@Model[i].Introduce" />
																	<input type="hidden" name="products[@i].linkImage" value="@Model[i].linkImage" />
															}
															<button type="submit" style="background-color: transparent;border: none;cursor: pointer;">Theo giá</button>
														</form>
													</span>
												</li>
												<li>
													<span>
														<form method="post" asp-action="SortByName">
															@for (int i = 0; i < Model.Count; i++)
															{
																	<input type="hidden" name="products[@i].Id" value="@Model[i].Id" />
																	<input type="hidden" name="products[@i].Name" value="@Model[i].Name" />
																	<input type="hidden" name="products[@i].Price" value="@Model[i].Price" />
																	<input type="hidden" name="products[@i].CategoryId" value="@Model[i].CategoryId" />
																	<input type="hidden" name="products[@i].Status" value="@Model[i].Status" />
																	<input type="hidden" name="products[@i].Introduce" value="@Model[i].Introduce" />
																	<input type="hidden" name="products[@i].linkImage" value="@Model[i].linkImage" />
															}
															<button type="submit" style="background-color: transparent;border: none;cursor: pointer;">Theo tên</button>
														</form>
													</span>
												</li>
											</ul>
										</li>
									</ul>
									
									

								</div>

								<!-- Product Grid -->

								<div class="product-grid">

									<!-- Product 1 -->

									
                                    @foreach(var item in Model)
									{
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="product_image" >
												@if(string.IsNullOrEmpty(item.linkImage))
												{
													<img src="~/images/product_1.png" alt="">
												}
												else{
													<div style="min-height: 226px;display: flex; align-items: center;"><img src="~/@item.linkImage"  alt=""></div>
												}
												<a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id" class="" style="text-align: center;display: block;font-weight: 500;color:rgb(223, 49, 49)">Chi tiết</a>

											</div>
											<div class="favorite favorite_left"></div>
											<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Sale</span></div>
											<div class="product_info">
												<h6 class="product_name"><a href="">@item.Name</a></h6>
												<div class="product_price">$@item.DiscountPrice<span>$@item.Price</span></div>
											</div>
										</div>
            								<div class="red_button add_to_cart_button"><a href="#" class="add-to-cart" data-product-id="@item.Id">Add to cart</a></div>
									</div>
									}
                                    



								</div>

								<!-- Product Sorting -->

								
							

								</div>

							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>





<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/js/categories_custom.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.add-to-cart').click(function(e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddProduct", "Cart")',
                data: { productId: productId },
                success: function(response) {
                    if (response.success) {
						$('#checkout_items').text(response.cartCount);
						showNotification("Add product success");
					} else {
                        alert(response.message); 
                    }
                },
                error: function() {
                    alert('Failed to add product to cart');
                }
            });
        });
    });

	function showNotification(message) {
            var notifyElement = $('.notify-message');
            @* notifyElement.text(message); *@
            notifyElement.addClass('show');
            setTimeout(function() {
                notifyElement.removeClass('show');
            }, 2000);
        }

</script>

</body>

</html> 
